/* ===== THEME ===== */
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

/* ===== ROOT FIX ===== */
:root {
  --text: #6b6375;
  --text-h: #08060d;

  font-size: 18px;
  letter-spacing: 0.18px;
  color: var(--text);
}

/* REMOVE WHITE BACKGROUND COMPLETELY */

/* ===== BASE ===== */
@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    @apply antialiased font-sans;
  }

  #root {
    @apply w-full min-h-screen;
  }

  h1 {
    @apply text-[56px] font-medium text-gray-900 tracking-tight;
  }
}
